<h1></h1>

<div class="anchor-section" id="market" style="margin-top:5%;">
    <div class="row">
        <div class="col-md-6">
           
            <app-slick-slider [options]="defaultOptions" class="slick-slider">
                <div class="slider">
                  <div><img src="https://source.unsplash.com/400x200/?nature" alt="Nature Image 1"></div>
                  <div><img src="https://source.unsplash.com/400x200/?travel" alt="Travel Image 2"></div>
                  <div><img src="https://source.unsplash.com/400x200/?technology" alt="Technology Image 3"></div>
                </div>
              </app-slick-slider>
              
            
        </div>
        <div class="col-md-6">
            <div class="rating">
                <div class="rating-text">
                    <p>Location:</p>
                </div>
                <div class="rating-stars">
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                </div>
            </div>
            <div class="rating">
                <div class="rating-text">
                    <p>Construction company:</p>
                </div>
                <div class="rating-stars">
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                </div>
            </div>
            <div class="rating">
                <div class="rating-text">
                    <p>Transportation access:</p>
                </div>
                <div class="rating-stars">
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                </div>
            </div>
            <div class="rating">
                <div class="rating-text">
                    <p>Agent:</p>
                </div>
                <div class="rating-stars">
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                </div>
            </div>
            <div class="rating">
                <div class="rating-text">
                    <p>Floor:</p>
                </div>
                <div class="rating-stars">
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                    <span class="rating-star">&#9734;</span>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top:5%;">
        <div>
            <ul style="list-style-type: none;">
                <li style="font-size: 14px; font-weight: bold;">Link to the original ad: </li>
                <li style="font-size: 14px; font-weight: bold;">The highest placed ad with the same parameters: </li>
                <li style="font-size: 14px; font-weight: bold;">The lowest placed as with the same parameters: </li>
              </ul>
              
        </div>
    </div>

    <div class="row" style="margin-top:5%;"></div>

    <div class="row">
        <div class="row">
            <h1>Price change in the area: </h1>
        </div>

        <div class="row" style="margin-top:10%;"></div>

        <div class="row">
            <div class="col-md-4">
              <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="myChart2"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="myChart3"></canvas>
            </div>
        </div>
        <div class="row" style="margin-top:5%;"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <canvas id="myChart4"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="myChart5"></canvas>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



