<div class="anchor-section" id="market" style="margin-top:5%;">
    <section id="content" class="container">

      <div id="content-header">
          <h2 id="market-header">Ən populyar ərazilər</h2>
          <a href="#" id="hamisi-link">
              <span>hamisi</span>
          </a>
      </div>

        <div class="anchor-section" id="market" style="margin-top:5%;">
            <div class="row">
              <div class="col-md-4" style="position: relative; text-align: center;">
                <dx-chart palette="Carmine" [dataSource]="yeniYasamal">
                        <dxi-series
                         type="line"
                         argumentField="date"
                         valueField="average"
                         [point]="{ visible: false }" 
                        >
                        </dxi-series>
                        <dxo-common-series-settings
                         hoverMode="none"
                        >
                        </dxo-common-series-settings>
                        <dxo-margin [bottom]="20"></dxo-margin>
                        <dxo-argument-axis
                            [valueMarginsEnabled]="false"
                            [argumentType]="'datetime'" >
                            <dxo-grid [visible]="false"></dxo-grid>
                            <dxo-label format="shortDate"></dxo-label> 
                        </dxo-argument-axis>
                        <dxi-value-axis>
                            
                        </dxi-value-axis>
                        <dxo-legend
                         [visible]="false"
                          verticalAlignment="bottom"
                          horizontalAlignment="center"
                          itemTextPosition="bottom"
                        >
                        </dxo-legend>
                        <dxo-title text="Yeni Yasamal">
                          <dxo-subtitle text=""> </dxo-subtitle>
                        </dxo-title>
                        <!-- <dxo-export [enabled]="true"></dxo-export> -->
                        <dxo-tooltip [enabled]="false"></dxo-tooltip>
                      </dx-chart>
                      <a href="#" style="text-decoration: none; color: black; transition: color 0.3s; position: absolute; bottom: 5; left: 50%; transform: translateX(-50%);">
                        <span style="border-bottom: 1px solid transparent;"> daha ətraflı</span>
                    </a>
                </div>
                <div class="col-md-4" style="position: relative; text-align: center;">
                  <dx-chart palette="Carmine" [dataSource]="ehmedliQesebesi">
                          <dxi-series
                           type="line"
                           argumentField="date"
                           valueField="average"
                           [point]="{ visible: false }" 
                          >
                          </dxi-series>
                          <dxo-common-series-settings
                           hoverMode="none"
                          >
                          </dxo-common-series-settings>
                          <dxo-margin [bottom]="20"></dxo-margin>
                          <dxo-argument-axis
                              [valueMarginsEnabled]="false"
                              [argumentType]="'datetime'" >
                              <dxo-grid [visible]="false"></dxo-grid>
                              <dxo-label format="shortDate"></dxo-label> 
                          </dxo-argument-axis>
                          <dxi-value-axis>
                              
                          </dxi-value-axis>
                          <dxo-legend
                           [visible]="false"
                            verticalAlignment="bottom"
                            horizontalAlignment="center"
                            itemTextPosition="bottom"
                          >
                          </dxo-legend>
                          <dxo-title text="Əhmidli qəsəbəsi">
                            <dxo-subtitle text=""> </dxo-subtitle>
                          </dxo-title>
                          <!-- <dxo-export [enabled]="true"></dxo-export> -->
                          <dxo-tooltip [enabled]="false"></dxo-tooltip>
                        </dx-chart>
                        <a href="#" style="text-decoration: none; color: black; transition: color 0.3s; position: absolute; bottom: 5; left: 50%; transform: translateX(-50%);">
                          <span style="border-bottom: 1px solid transparent;"> daha ətraflı</span>
                      </a>
                  </div>
                  <div class="col-md-4" style="position: relative; text-align: center;">
                    <dx-chart palette="Carmine" [dataSource]="sekkizinciKilometr">
                            <dxi-series
                             type="line"
                             argumentField="date"
                             valueField="average"
                             [point]="{ visible: false }" 
                            >
                            </dxi-series>
                            <dxo-common-series-settings
                             hoverMode="none"
                            >
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis
                                [valueMarginsEnabled]="false"
                                [argumentType]="'datetime'" >
                                <dxo-grid [visible]="false"></dxo-grid>
                                <dxo-label format="shortDate"></dxo-label> 
                            </dxo-argument-axis>
                            <dxi-value-axis>
                                
                            </dxi-value-axis>
                            <dxo-legend
                             [visible]="false"
                              verticalAlignment="bottom"
                              horizontalAlignment="center"
                              itemTextPosition="bottom"
                            >
                            </dxo-legend>
                            <dxo-title text="8-ci mikrorayon">
                              <dxo-subtitle text=""> </dxo-subtitle>
                            </dxo-title>
                            <!-- <dxo-export [enabled]="true"></dxo-export> -->
                            <dxo-tooltip [enabled]="false"></dxo-tooltip>
                          </dx-chart>
                          <a href="#" style="text-decoration: none; color: black; transition: color 0.3s; position: absolute; bottom: 5; left: 50%; transform: translateX(-50%);">
                            <span style="border-bottom: 1px solid transparent;"> daha ətraflı</span>
                        </a>
                    </div>
            </div>
            <div class="row" style="margin-top:5%;"></div>
            <div class="row">
              <div class="col-md-4" style="position: relative; text-align: center;">
                <dx-chart palette="Carmine" [dataSource]="doqquzuncuMikrorayon">
                        <dxi-series
                         type="line"
                         argumentField="date"
                         valueField="average"
                         [point]="{ visible: false }" 
                        >
                        </dxi-series>
                        <dxo-common-series-settings
                         hoverMode="none"
                        >
                        </dxo-common-series-settings>
                        <dxo-margin [bottom]="20"></dxo-margin>
                        <dxo-argument-axis
                            [valueMarginsEnabled]="false"
                            [argumentType]="'datetime'" >
                            <dxo-grid [visible]="false"></dxo-grid>
                            <dxo-label format="shortDate"></dxo-label> 
                        </dxo-argument-axis>
                        <dxi-value-axis>
                            
                        </dxi-value-axis>
                        <dxo-legend
                         [visible]="false"
                          verticalAlignment="bottom"
                          horizontalAlignment="center"
                          itemTextPosition="bottom"
                        >
                        </dxo-legend>
                        <dxo-title text="9-cu mikrorayon">
                          <dxo-subtitle text=""> </dxo-subtitle>
                        </dxo-title>
                        <!-- <dxo-export [enabled]="true"></dxo-export> -->
                        <dxo-tooltip [enabled]="false"></dxo-tooltip>
                      </dx-chart>
                      <a href="#" style="text-decoration: none; color: black; transition: color 0.3s; position: absolute; bottom: 5; left: 50%; transform: translateX(-50%);">
                        <span style="border-bottom: 1px solid transparent;"> daha ətraflı</span>
                    </a>
                </div>
                <div class="col-md-4" style="position: relative; text-align: center;">
                  <dx-chart palette="Carmine" [dataSource]="yeniYasamal">
                          <dxi-series
                           type="line"
                           argumentField="date"
                           valueField="average"
                           [point]="{ visible: false }" 
                          >
                          </dxi-series>
                          <dxo-common-series-settings
                           hoverMode="none"
                          >
                          </dxo-common-series-settings>
                          <dxo-margin [bottom]="20"></dxo-margin>
                          <dxo-argument-axis
                              [valueMarginsEnabled]="false"
                              [argumentType]="'datetime'" >
                              <dxo-grid [visible]="false"></dxo-grid>
                              <dxo-label format="shortDate"></dxo-label> 
                          </dxo-argument-axis>
                          <dxi-value-axis>
                              
                          </dxi-value-axis>
                          <dxo-legend
                           [visible]="false"
                            verticalAlignment="bottom"
                            horizontalAlignment="center"
                            itemTextPosition="bottom"
                          >
                          </dxo-legend>
                          <dxo-title text="Yeni Yasamal">
                            <dxo-subtitle text=""> </dxo-subtitle>
                          </dxo-title>
                          <!-- <dxo-export [enabled]="true"></dxo-export> -->
                          <dxo-tooltip [enabled]="false"></dxo-tooltip>
                        </dx-chart>
                        <a href="#" style="text-decoration: none; color: black; transition: color 0.3s; position: absolute; bottom: 5; left: 50%; transform: translateX(-50%);">
                          <span style="border-bottom: 1px solid transparent;"> daha ətraflı</span>
                      </a>
                  </div>
                  <div class="col-md-4" style="position: relative; text-align: center;">
                    <dx-chart palette="Carmine" [dataSource]="heziAslanovQesebesi">
                            <dxi-series
                             type="line"
                             argumentField="date"
                             valueField="average"
                             [point]="{ visible: false }" 
                            >
                            </dxi-series>
                            <dxo-common-series-settings
                             hoverMode="none"
                            >
                            </dxo-common-series-settings>
                            <dxo-margin [bottom]="20"></dxo-margin>
                            <dxo-argument-axis
                                [valueMarginsEnabled]="false"
                                [argumentType]="'datetime'" >
                                <dxo-grid [visible]="false"></dxo-grid>
                                <dxo-label format="shortDate"></dxo-label> 
                            </dxo-argument-axis>
                            <dxi-value-axis>
                                
                            </dxi-value-axis>
                            <dxo-legend
                             [visible]="false"
                              verticalAlignment="bottom"
                              horizontalAlignment="center"
                              itemTextPosition="bottom"
                            >
                            </dxo-legend>
                            <dxo-title text="Həzi Aslanov qəsəbəsi">
                              <dxo-subtitle text=""> </dxo-subtitle>
                            </dxo-title>
                            <!-- <dxo-export [enabled]="true"></dxo-export> -->
                            <dxo-tooltip [enabled]="false"></dxo-tooltip>
                          </dx-chart>
                          <a href="#" style="text-decoration: none; color: black; transition: color 0.3s; position: absolute; bottom: 5; left: 50%; transform: translateX(-50%);">
                            <span style="border-bottom: 1px solid transparent;"> daha ətraflı</span>
                        </a>
                    </div>
            </div>
        </div>


    </section>
</div>
