<div class="app-container">
  <!-- Header -->
  <app-header></app-header>

  <!-- Main Content -->
  <main class="main-content">

    <!-- Market Statistics Section -->
    <app-market-statistics></app-market-statistics>
    
    <app-price-alerts></app-price-alerts>

    <app-following></app-following>

    <app-saved-apartment></app-saved-apartment>
 
    <app-performance></app-performance>

    <app-recommendation></app-recommendation>

    <!-- Footer -->
    <app-footer></app-footer>
  </main>
</div>